<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Home</title>
</head>
<body>
Welcome to home page!!!
<a href="/add_user">Добавить пользователя</a>
<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">Name of User</th>
        <th scope="col">Second name</th>
        <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.secondName}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <a th:href="@{user-edit/{id}(id=${user.id})}">Edit</a>
        </td>
        <td>
            <a th:href="@{user-delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
    <form action="/search">
        <input name="searchParam" type="search" placeholder="Введите текст" aria-label="Search">
        <button type="submit">Search</button>
    </form>
</body>
</html>