<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Edit form</title>
</head>
<body>
Edit user
<div class="container mt-5 mb-10">
    <form action="#" th:action="@{/user-edit/{id}(id=${user.id})}" th:object="${user}" method="post">
        Name of User <input type="text" id="name" th:field="*{name}" placeholder="Name of user"
                            class="form-control" required minlength="2" maxlength="30">
        Second Name <input type="text" id="secondName" th:field="*{secondName}" placeholder="Second name of user"
                           class="form-control" required minlength="4" maxlength="30">
        Age <input type="text" id="age" th:field="*{age}" placeholder="Age"
                   class="form-control" required minlength="1" maxlength="2">
        <button type="submit" class="btn btn-success">Edit user</button>
        <br>
    </form>
</div>
</body>
</html>